html,
body,
section,
article,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

  color: inherit;
  background: transparent;
}

body {
  /* font-family: 'Droid Serif', serif; */
  font-family: 'Avenir', 'Helvetica', arial, sans-serif;
  /* font-family: 'Courier', monospace; */
  /*-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif*/
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  /* letter-spacing: 0.05em; */
  line-height: 24px;

  height: 100%;
  margin: 0;
}

input {
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

#typewriter {
  animation: blinkCursor 0.7s step-end infinite;
  letter-spacing: 5px;
}

ul {
  list-style: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Avenir', 'Helvetica', arial, sans-serif;
  font-size: 52px;
  font-weight: 900;
  line-height: 5rem;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

h5 {
  font-size: 14px;
  font-family: 'Avenir', 'Helvetica', arial, sans-serif;
  text-transform: uppercase;
  color: rgba(64, 64, 64, 1);
}

button {
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.highlight {
  background: rgba(253, 236, 177, 1);
  color: rgba(0, 0, 0, 0.7);
}

.main {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  margin-bottom: 2rem;
}

.contact {
  position: absolute;
  bottom: 2rem;
}

.header ul {
  float: right;
  padding: 13px 0px;
}

.navigation>* {
  float: left;
  margin-left: 25px;
  text-transform: uppercase;
}

.hero--description {
  font-size: 22px;
  line-height: 26px;
}

.hero h1 {
  margin-bottom: 25px;
}

.emoji {
  position: absolute;
  width: 22px;
}

.grid--wrapper {
  padding-top: 60px;
  padding-bottom: 50px;
}

.grid {
  width: 900px;
  margin: 0 auto;
}

.grid--item {
  float: left;
  width: 267px;
  margin-left: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}

.overlay {
  position: relative;
  height: 267px;
  width: 267px;
}

.overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0.5);
  /*border: 1px solid (rgba(230,230,230,0.5);*/
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.overlay:hover:after {
  opacity: 1;
}

.grid--item img {
  background-size: cover;
  height: 267px;
  width: 267px;
}

.overlay:hover {
  background: rgba(230, 230, 230, 1);
}

.grid--item h5 {
  text-align: center;
  margin-top: 5px;
}

.page {
  margin-top: 50px;
  padding: 0px 25px;
  padding-bottom: 100px;
}

.page iframe {
  background-color: rgba(230, 230, 230, 1);
}

.hero a {
  text-decoration: underline;
}

form input {
  border: 0;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  width: 500px;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

textarea {
  margin: 0px;
  height: 26px;
  width: 482px;
  border: 0;
  font-size: 14px;
  outline: none;
  height: 100px;
  margin-top: 10px;
  background: rgba(250, 250, 250, 1);
  padding: 5px 10px;
}

.submit {
  width: 81px;
  padding: 10px 10px;
  background: white;
  border: 1px solid rgba(230, 230, 230, 1);
  cursor: pointer;
}

.submit:hover {
  border: 1px solid rgba(200, 200, 200, 1);
}

.return {
  margin-top: 50px;
  display: block;
}

@media screen and (max-width: 950px) {
  .main {
    /* width: 750px !important; */
    padding: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .main {
    /* width: 600px !important; */
    padding: 0px 5px !important;
  }

  .header {
    margin: 0px 5px !important;
    margin-top: 100px !important;
  }

  .hero {
    margin: 0px 5px;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .main {
    width: 395px !important;
    padding: 0px 5px !important;
  }

  .grid {
    width: 420px;
  }

  .page {
    padding: 0px 5px;
    padding-bottom: 100px;
  }

  .page img {
    width: 375px;
  }

  .page iframe {
    width: 375px;
    height: 245px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    /* width: 310px !important; */
    padding: 0px 5px !important;
  }

  form input {
    width: 280px !important;
  }

  form textarea {
    width: 280px !important;
  }

  .header {
    margin: 0px 5px !important;
    margin-top: 100px !important;
  }

  .hero {
    margin: 0px 5px !important;
    width: 300px !important;
    margin-top: 2rem;
  }

  .grid {
    width: 375px;
  }

  .page img {
    width: 305px;
  }

  .page iframe {
    width: 300px;
    height: 195px;
  }
}